.App {
  background-color: #202020;
  height: 100vh;
}

.info {
  height: 2rem;
  padding: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
}
.person, .company, .entity {
  margin-right: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
span {
  color: white;
}

.__________cytoscape_container {
  padding: 3rem;
  width: 100% !important;
  height: 100vh !important;
}
